.FooterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
    background-color: #615C4A;
    border-top: 2px solid rgb(46, 46, 46);
}

.FooterDiv{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 45%;
}

.FooterDiv:nth-child(1){
    border-right: 2px solid rgb(46, 46, 46);
}

.FooterDivBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    flex-direction: column;
    height: 200px;
    padding: 0px 0px 30px 0px;
}

.FooterDivBlock h2{
    font-size: 2rem;
    text-align: right;
    font-weight: 500;
    color: #e9e6dc;
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
    letter-spacing: 3px;
}

.FooterDivBlockLink{
    text-decoration: none;
    color: #e9e6dc;
    margin: 20px 0px 0px 0px;
    transition: all .15s ease-in-out;
}

.FooterDivBlock1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    height: 200px;
}

.FooterDivBlock1 h2{
    font-size: 2rem;
    text-align: right;
    font-weight: 500;
    color: #e9e6dc;
    margin: -5px 0px 0px 0px;
    padding: 20px 0px 15px 0px;
    letter-spacing: 3px;
}

.FooterDivBlockk{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.FooterDivBlockIcon{
    width: 32px;
    margin: 5px 25px 0px 0px;
    transition: all .15s ease-in-out;
}

.FooterDivBlockLink{
    text-decoration: none;
    color: #e9e6dc;
    margin: 20px 0px 0px 0px;
}

.FooterDivBlockLink1{
    text-decoration: none;
    color: #e9e6dc;
    margin: 20px 0px 0px 0px;
    transition: all .15s ease-in-out;
}

.FooterDivBig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgb(46, 46, 46);
    padding: 35px 0px;
}

.FooterDivBig p{
    font-size: 1.1rem;
    margin: 0px;
    padding: 10px 0px;
    line-height: 32px;
    color: #e9e6dc;
}

@media(min-width: 1200px){
    .FooterDivBlockLink:hover{
        text-decoration: underline;
        transition: all .15s ease-in-out;
    }

    .FooterDivBlockLink1:hover{
        text-decoration: underline;
        transition: all .15s ease-in-out;
    }

    .FooterDivBlockIcon:hover{
        opacity: 0.5;
        cursor: pointer;
        transition: all .15s ease-in-out;
    }
}

@media(max-width: 1100px){
    .FooterDiv:nth-child(1){
        width: 50%;
    }

    .FooterDiv:nth-child(2){
        width: 40%;
    }
}

@media(max-width: 1000px){
    .FooterDivBlock h2{
        font-size: 1.6rem;
    }

    .FooterDivBlock1 h2{
        font-size: 1.6rem;
    }

    .FooterDivBlockIcon{
        width: 30px;
    }
}

@media(max-width: 590px){
    .FooterDivBlock{
        width: 100%;
    }

    .FooterDiv:nth-child(1){
        width: 85%;
        align-items: center;
        justify-content: center;
    }

    .FooterDiv:nth-child(2){
        width: 85%;
        justify-content: center;
    }

    .FooterDiv:nth-child(1){
        border: none;
    }

    .FooterContainer{
        flex-direction: column;
    }

    .FooterDivBlock{
        width: 100%;
    }

    .FooterDivBlockk{
        width: 100%;
    }

    .FooterContainer{
        flex-wrap: wrap;
    }

    .FooterDivBig p{
        width: 85%;
        text-align: center;
    }
}