.HomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 80px;
}

.HomeHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 180px 0px;
}

.HomeHeaderTop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.HomeHeaderTop h1{
    font-size: 7rem;
    width: 80%;
    line-height: 130px;
    font-weight: 500;
    color: #615C4A;
    margin: 0px 0px 45px 0px;
}

.HomeHeaderBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.HomeHeaderBottomLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    border: 2px solid #615C4A;
    border-radius: 30px;
    padding: 15px 50px;
    margin: 0px;
}

.HomeHeaderBottomLink:hover{
    background-color: #615C4A;
    color: white;
}

.HomeHeaderImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.HomeHeaderImg{
    width: 100%;
}

.HomeAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 65px 0px;
    border-bottom: 1px solid #615C4A;
}

.HomeAboutLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.HomeH1{
    font-size: 5rem;
    width: 100%;
    line-height: 100px;
    font-weight: 500;
    color: #615C4A;
    margin: 0px 0px 45px 0px;
    letter-spacing: 3px;
}

.HomeAboutRight{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    flex-direction: column;
}

.HomeAboutRightLinkDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    flex-direction: column;
}

.HomeAboutRight p{
    line-height: 35px;
    font-size: 1.05rem;
    width: 60%;
}

.HomeAboutRightLink{
    padding: 15px 35px;
    border: 1px solid #615C4A;
    border-radius: 30px;
    text-decoration: none;
    color: #222;
    margin-top: 10px;
    letter-spacing: 4px;
    font-size: .8rem;
    transition: all 0.3s;
}

.HomeAboutRightLink:hover{
    background-color: #615C4A;
    color: white;
    transition: all 0.3s;
}

.HomePortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 0px;
    flex-direction: column;
}

.HomePortfolioHeader{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
}

.HomePortfolioH1{
    font-size: 5rem;
    width: 60%;
    text-align: right;
    line-height: 100px;
    font-weight: 500;
    color: #615C4A;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid #615C4A;
    padding: 35px 0px 35px 0px;
    letter-spacing: 3px;
}

.HomePortfolioDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #615C4A;
    border-bottom: 1px solid #615C4A;
    flex-wrap: wrap;
}

.HomePortfolioBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    flex-direction: column;
}

.HomePortfolioBlock:nth-child(1){
    border-bottom: 1px solid #615C4A;
    border-top: 1px solid #615C4A;
}

.HomePortfolioBlock:nth-child(2){
    border-bottom: 1px solid #615C4A;
    border-left: 1px solid #615C4A;
}

.HomePortfolioBlock:nth-child(3){
    width: 55%;
    margin: 0px;
    border-top: 1px solid #615C4A;
    border-bottom: 1px solid #615C4A;
    border-left: 1px solid #615C4A;
}

.HomePortfolioBlock:nth-child(4){
    border-left: 1px solid #615C4A;
    width: 45%;
    margin: 0px;
}

.HomePortfolioBlock:nth-child(5){
    width: 45%;
    margin: 0px;
    border-top: 1px solid #615C4A;
    border-bottom: 1px solid #615C4A;
}

.HomePortfolioBlock:nth-child(6){
    width: 55%;
    margin: 0px;
    border-left: 1px solid #615C4A;
    border-top: 1px solid #615C4A;
}

.HomePortfolioImg{
    width: 100%;
    position: relative;
    z-index: -1;
}

.HomePortfolioBlock1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    position: absolute;
    height: 90%;
    box-sizing: border-box;
    bottom: -60px;
    left: 60px;
}

.HomePortfolioBlock1 h1{
    font-size: 5rem;
    color: #e9e6dc;
    letter-spacing: 3px;
    text-shadow: -2px 0 #615C4A, 0 2px #615C4A, 2px 0 #615C4A, 0 -2px #615C4A;
}

.HomePortolioHover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    background-color: #615c4ae5;
    opacity: 0;
    transition: all 0.5s;
}

.HomePortfolioBlock:hover .HomePortolioHover {
    opacity: 1;
    transition: all 0.5s;
}

.HomePortfolioHoverTop{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 30%;
    flex-direction: column;
}

.HomePortfolioHoverTop p{
    width: 100%;
    margin: 0px;
    color: rgb(186, 186, 186);
}

.HomePortfolioHoverTop h1{
    width: 100%;
    margin: 12px 0px 30px 0px;
    color: whitesmoke;
    font-size: 1.5rem;
}

.HomePortfolioHoverBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.HomePortfolioHoverBottomLink{
    text-decoration: none;
    color: whitesmoke;
    margin-top: 10px;
    letter-spacing: 4px;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePortfolioBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 45px 0px 70px 0px;
    border-bottom: 1px solid #615C4A;
}

.HomePortfolioBottomText{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    flex-direction: column;
}

.HomePortfolioBottomText h2{
    font-size: 4rem;
    width: 100%;
    line-height: 100px;
    font-weight: 500;
    color: #615C4A;
    margin: 0px 0px 45px 0px;
    letter-spacing: 3px;
}

.HomePortfolioBottomText p{
    margin: 0px;
    line-height: 32px;
}

.HomePortfolioBottomBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.HomePortfolioBottomBtn{
    padding: 20px 35px;
    border: 1px solid #615C4A;
    border-radius: 30px;
    text-decoration: none;
    color: #222;
    margin-top: 10px;
    letter-spacing: 4px;
    font-size: .8rem;
    transition: all 0.3s;
}

.HomePortfolioBottomBtn:hover{
    color: white;
    background-color: #615C4A;
    transition: all 0.3s;
}

.HomeFaq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.HomeFaqHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.HomeFaqH1{
    font-size: 5rem;
    width: 100%;
    text-align: right;
    line-height: 100px;
    font-weight: 500;
    color: #615C4A;
    margin: 0px 0px 0px 0px;
    padding: 55px 0px 65px 0px;
    letter-spacing: 3px;
}

.HomeFaqDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.HomeFaqBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.HomeFaqBlockH2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-left: 1px solid #615C4A;
    border-right: 1px solid #615C4A;
    border-bottom: 1px solid #615C4A;
    box-sizing: border-box;
    padding: 10px 40px;
}

.HomeFaqBlockH2:nth-child(1){
    border-top: 1px solid #615C4A;
}

.HomeFaqBlockH2 h2{
    line-height: 34px;
    color: #222;
}

.HomeFaqBlockIcon{
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.HomeFaqBlockP{
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid #615C4A;
    border-right: 1px solid #615C4A;
    border-bottom: 1px solid #615C4A;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

.HomeFaqBlockP p{
    padding: 10px 40px;
}

@keyframes growDown {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

@keyframes growUp {
    0% {
        visibility: hidden;
        opacity: 0.5;
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        transform: translateY(-15px);
        height: 0px;
        visibility: visible;
    }
}

.HomeFaqBlockP p{
    line-height: 35px;
    font-size: 1.05rem;
    z-index: -1;
}

@media(max-width: 1600px){
    .HomeAboutRight p{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 1520px){
    .HomePortfolioH1{
        width: 80%;
    }
}

@media(max-width: 1400px){
    .HomeH1{
        font-size: 4.5rem;
        line-height: 80px;
    }

    .HomePortfolioH1{
        font-size: 4.5rem;
        line-height: 80px;
    }

    .HomePortfolioBottomText h2{
        font-size: 3.5rem;
        line-height: 80px;
    }

    .HomeFaqH1{
        font-size: 4.5rem;
        line-height: 80px;
    }
}

@media(max-width: 1262px){
    .HomeH1{
        font-size: 4rem;
        line-height: 80px;
    }

    .HomePortfolioH1{
        font-size: 4rem;
        line-height: 80px;
    }

    .HomeFaqH1{
        font-size: 4rem;
        line-height: 80px;
    }

    .HomePortfolioBottomText p{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 1200px){
    .HomePortfolioBlock:nth-child(1){
        width: 100%;
        border: none;
        border-bottom: 1px solid #615C4A;
    }

    .HomePortfolioBlock:nth-child(2){
        width: 100%;
        border: none;
        border-bottom: 1px solid #615C4A;
    }

    .HomePortfolioBlock:nth-child(3){
        width: 100%;
        border: none;
        border-bottom: 1px solid #615C4A;
    }

    .HomePortfolioBlock:nth-child(4){
        width: 100%;
        border: none;
        border-bottom: 1px solid #615C4A;
    }

    .HomePortfolioBlock:nth-child(5){
        width: 100%;
        border: none;
        border-bottom: 1px solid #615C4A;
    }

    .HomePortfolioBlock:nth-child(6){
        width: 100%;
        border: none;
    }

    .HomePortfolioBlock{
        border-bottom: 1px solid #615C4A;
    }

    .HomePortolioHover{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 40px 0px 40px 0px;
        margin: 0px;
        bottom: 0px;
        height: auto;
    }

    .HomePortfolioBlock1{
        bottom: 150px;
        left: 70px;
    }
}

@media(max-width: 1150px){
    .HomePortfolioBlock1 h1{
        font-size: 3.5rem;
        padding-bottom: 40px;
    }
}

@media(max-width: 1132px){
    .HomeH1{
        font-size: 3.5rem;
        line-height: 70px;
    }

    .HomeFaqH1{
        font-size: 3.5rem;
        line-height: 70px;
    }

    .HomePortfolioH1{
        font-size: 3.5rem;
        line-height: 70px;
    }

    .HomeAboutRight{
        width: 50%;
    }

    .HomeAboutLeft{
        width: 40%;
    }

    .HomeAboutRight p{
        width: 80%;
    }

    .HomeAboutRightLinkDiv{
        width: 80%;
    }
}

@media(max-width: 1100px){
    .HomeHeaderTop h1{
        font-size: 5rem;
        line-height: 95px;
    }

    .HomeHeader{
        padding: 150px 0px;
    }
}

@media(max-width: 1040px){
    .HomePortfolioBottom{
        flex-direction: column;
    }

    .HomePortfolioBottomText{
        width: 90%;
    }

    .HomePortfolioBottomBtnDiv{
        width: 90%;
        justify-content: flex-start;
        margin-top: 30px;
    }
}

@media(max-width: 910px){
    .HomePortfolioBlock1 h1{
        font-size: 3.5rem;
        padding-bottom:30px;
    }
}

@media(max-width: 790px){
    .HomeAbout{
        flex-direction: column;
    }

    .HomeAboutLeft{
        width: 85%;
    }

    .HomeAboutRight{
        width: 85%;
    }

    .HomeAboutRight p{
        width: 100%;
    }

    .HomeAboutRightLinkDiv{
        width: 100%;
    }
}

@media(max-width: 780px){
    .HomeHeaderTop h1{
        font-size: 4rem;
        line-height: 80px;
    }

    .HomeHeader{
        padding: 120px 0px;
        width: 95%;
    }

    .HomePortfolioHoverBottomLink{
        font-size: 1.1rem;
    }

    .HomePortfolioHoverTop h1{
        width: 100%;
        margin: 12px 0px 30px 0px;
        color: whitesmoke;
        font-size: 1.3rem;
    }
}

@media(max-width: 646px){
    .HomeHeaderTop h1{
        font-size: 3.5rem;
        line-height: 65px;
    }

    .HomeHeader{
        padding: 100px 0px;
    }
}

@media(max-width: 600px){
    .HomeH1{
        padding: 0px;
        margin: 0px 0px 20px 0px;
    }

    .HomeAbout{
        padding: 50px 0px;
    }

    .HomeAboutRightLink{
        margin-top: 30px;
    }
}

@media(max-width: 570px){
    .HomePortfolioBlock1 h1{
        padding: 0px;
        position: absolute;
        left: -10px;
        bottom: 15px;
    }

    .HomePortfolioBlock1{
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width: 550px){
    .HomeHeaderTop h1{
        font-size: 3rem;
        line-height: 65px;
    }

    .HomeH1{
        font-size: 3rem;
        line-height: 65px;
    }

    .HomeFaqH1{
        font-size: 3rem;
        line-height: 65px;
    }

    .HomeFaqBlockH2 h2{
        font-size: 1.5rem;
    }

    .HomeFaqBlockIcon{
        margin-left: 30px;
    }

    .HomePortfolioBottomText h2{
        font-size: 3rem;
        line-height: 65px;
    }

    .HomePortfolioH1{
        font-size: 3rem;
        line-height: 65px;
    }
}

@media(max-width: 540px){
    .HomeFaqDiv{
        width: 100%;
    }

    .HomeFaqBlockH2{
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .HomeFaqBlockP{
        border-left: none;
        border-right: none;
    }
}

@media(max-width: 520px){
    .HomeHeaderBottom{
        flex-direction: column;
        width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .HomeAboutRightLink{
        margin-bottom: 30px;
    }
}

@media(max-width: 500px){
    .HomeFaqBlockH2{
        flex-direction: column;
    }

    .HomeFaqBlockH2 h2{
        width: 100%;
    }

    .HomeFaqBlockIcon{
        padding: 10px 0px;
    }

    .HomePortfolioBlock1 h1{
        font-size: 2.5rem;
        bottom: 30px;
        left: -20px
    }

    .HomePortfolioBlock{
        padding: 20px;
    }
}

@media(max-width: 476px){
    .HomeHeaderTop h1{
        font-size: 2.5rem;
        line-height: 55px;
    }

    .HomeH1{
        font-size: 2.5rem;
        line-height: 55px;
    }

    .HomeFaqH1{
        font-size: 2.5rem;
        line-height: 55px;
    }

    .HomePortfolioBottomText h2{
        font-size: 2.5rem;
        line-height: 55px;
    }

    .HomePortfolioH1{
        font-size: 2.5rem;
        line-height: 55px;
    }

    .HomeHeader{
        padding: 80px 0px;
    }
}

@media(max-width: 447px){
    .HomePortfolioBlock1{
        bottom: 170px;
    }
}

@media(max-width: 396px){
    .HomeHeaderTop h1{
        font-size: 2rem;
        line-height: 45px;
    }

    .HomeH1{
        font-size: 2rem;
        line-height: 45px;
    }

    .HomeFaqH1{
        font-size: 2rem;
        line-height: 45px;
    }

    .HomePortfolioBottomText h2{
        font-size: 2rem;
        line-height: 45px;
    }

    .HomePortfolioH1{
        font-size: 2rem;
        line-height: 45px;
    }

    .HomeHeader{
        padding: 40px 0px;
    }
}

@media(max-width: 370px){
    .HomePortfolioBlock1 h1{
        font-size: 2rem;
        padding: 0px 0px 10px 2px;
    }
}